* {
    box-sizing: border-box;
}
:root {
    --primary-color: #1ebfc1;
    --secondary-color: #2f3a3b;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* common */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

.no-wrap {
    white-space: nowrap;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
}

/* header */

.fixed-header {
    position: sticky;
    top: -42px;
    background-color: #fff;
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    padding: 52px 0 10px 0;
    justify-content: center;
}

.menu ul {
    display: flex;
    margin-left: 235px;
    gap: 39px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.menu ul li:hover a,
.box-login a:hover {
    box-shadow: 0px 2px 0px 0px var(--primary-color);
}

.menu .box-login {
    display: flex;
    margin-left: 179px;
    gap: 24px;
    align-items: center;
}

.menu .box-login a {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 2.4rem;
}

.menu .box-login a + a {
    color: var(--primary-color);
    font-weight: 600;
}

.menu .box-login a + a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* header content */

.header-content {
    padding-top: 40px;
    padding-bottom: 79px;
}

.header-content .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .left .desc-1 {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.header-content .left .desc-2 {
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    width: 374px;
}

.header-content .left .title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin: 18px 0 46px 0;
}

.header-content .cta-list {
    margin-top: 52px;
    display: flex;
    gap: 50px;
}

.cta-list .btn {
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 21px 41px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.cta-list .btn a {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4;
}

.cta-list .btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.cta-list .btn-play {
    background: transparent;
    border: none;
    border-radius: 999px;
    width: 62px;
    height: 62px;
    box-shadow: 0px 15px 15px -3px rgba(0, 0, 0, 0.1);
}

.header-content .right {
    position: relative;
}

.right .img-header .image {
    width: 576px;
    height: 631px;
    flex-shrink: 0;
    object-fit: cover;
}

.courses {
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 145px;
    left: -55px;
}

.header-content .course {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 17px 0 17px 25px;
}

.header-content .course .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    width: 55px;
    line-height: 1.5;
}

.header-content .schedules {
    position: absolute;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 124px;
    border-radius: 24px;
    left: -65px;
    bottom: 50px;
}

.header-content .schedules .content {
    display: flex;
    margin: 16px 0 23px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header-content .schedules .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.line-chart {
    font-size: 0%;
}

.schedules .line-chart:nth-of-type(1) {
    margin-top: 16px;
}

.schedules .line-chart:nth-of-type(2) {
    margin-top: 12px;
}

.schedules .line-chart:nth-of-type(3) {
    margin-top: 10px;
}

.schedules .line-chart:nth-of-type(4) {
    margin-top: 16px;
}

.our-active-students {
    position: absolute;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    height: 90px;
    width: 207px;
    right: 45px;
    bottom: 45px;
}

.our-active-students .content {
    display: flex;
    flex-direction: column;
    margin: 17px 35px;
    gap: 8px;
    align-items: flex-start;
}

.our-active-students .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.our-active-students .list-avatar {
    display: flex;
}

.our-active-students .avatar .image {
    line-height: 33px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.our-active-students .list-avatar .avatar .image {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 33px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
    background-color: #1ebfc1;
}

.our-active-students .list-avatar .avatar + .avatar {
    margin-left: -7px;
}

/* feature  */

.feature {
    margin-top: 130px;
}

.feature .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.feature .heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33333; /* 133.333% */
    width: 557px;
    margin-top: 18px;
}

.feature .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    width: 590px;
    line-height: normal;
}

.feature-section {
    margin-top: 80px;
}

.feature-section .list-features {
    display: flex;
    gap: 209px;
}

.list-features .feature-title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.list-features .feature-desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
    line-clamp: 3;
    max-width: 224px;
}

/* course */

.course {
    margin-top: 130px;
}

.course .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.course .heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 18px;
    line-height: normal;
}

.course .main-container > .row {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: center;
}

.course .row .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    width: 525px;
}

.course .row .click a {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.course .row .click a:hover {
    text-decoration: underline;
}

.course-list {
    display: flex;
    margin-top: 79px;
    justify-content: space-between;
}

.course-list .course-item {
    position: relative;
}

.course-list .course-item .image .thumb {
    width: 359px;
    height: 393px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.course-list .course-item .image .thumb:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s;
}

.course-list .course-item .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5%;
    bottom: -30%;
    display: flex;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 0px 29px 25px;
}

.course-item .content .title-course {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.course-item .content .price {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.course-item .content .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.course-item .content .desc-course {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.course-item .content .row {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.course-item .content .row .sub-desc {
    display: flex;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.course-item .content .row .sub-desc span {
    margin-left: 10px;
}

/* overview */

.overview {
    margin-top: 389px;
}

.overview .row {
    display: flex;
    justify-content: space-around;
}

.overview .count {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    line-height: normal;
    font-weight: 700;
}

.overview .desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

/* feedback */

.feedback {
    margin-top: 264px;
}

.feedback .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .left {
    width: 36%;
}

.feedback .left .comment {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback .left .customer {
    position: relative;
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

.feedback .left .customer::after {
    content: "";
    position: absolute;
    left: -13px;
    top: 11px;
    display: inline-block;
    width: 8px;
    height: 2px;
    flex-shrink: 0;
    background: #070707;
}

.feedback .left .customer strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.feedback .cta {
    display: flex;
    gap: 30px;
}

.feedback .cta .arrow {
    margin-top: 52px;
    background: var(--primary-color);
    border-radius: 999px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.feedback .right {
    flex: 1;
}

.feedback .right .block-avatar {
    position: relative;
    height: 481px;
}

.feedback .right .avatar {
    border-radius: 999px;
}

.feedback-avatar-1 {
    width: 235px;
    height: 235px;
    flex-shrink: 0;
    position: absolute;
    top: 93px;
    left: 288px;
    background: url(<path-to-image>) rgb(235, 96, 96) 50% / cover no-repeat;
}

.feedback-avatar-2 {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(230, 92, 230);
}

.feedback-avatar-3 {
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    position: absolute;
    top: 28px;
    left: 20%;
    background: var(--primary-color);
}

.feedback-avatar-4 {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    position: absolute;
    top: 300px;
    left: 0;
    background: url(<path-to-image>) rgb(191, 194, 15) 50% / cover no-repeat;
}

.feedback-avatar-5 {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 260px;
    background: url(<path-to-image>) rgb(212, 118, 10) 50% / cover no-repeat;
}

.feedback-avatar-6 {
    width: 78px;
    height: 78px;
    flex-shrink: 0;
    position: absolute;
    bottom: 100px;
    right: 0;
    background: url(<path-to-image>) rgb(169, 245, 240) 50% / cover no-repeat;
}

/* link cta */

.link-cta {
    margin-top: 130px;
    padding: 76px 0 88px 0;
    background: #def6f5;
}

.link-cta .row {
    display: flex;
    gap: 410px;
    align-items: center;
}

.link-cta .content .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

.link-cta .content .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.link-cta .btn-link-cta {
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding: 21px 41px;
    border-radius: 14px;
}

/*  footer */

.footer {
    margin-top: 130px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer ul {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.footer ul li {
    display: flex;
    gap: 9px;
    align-items: center;
}

.footer ul li a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.footer ul li + li {
    margin-top: 20px;
}

footer ul li:first-of-type {
    margin-top: 24px;
}

.copyright {
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
